<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
    
    <div class="element">
        <form action="/login" method="post">
            <h1>Регистрация</h1>
            <label for="login">Логин</label>
            <input type="text" name="login" id="login">
            <br>
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="email">Почта</label>
            <input type="email" name="email" id="email">
            <br>
            <input type="submit" value="Отправить">
            <input type="reset" value="Очистить">
            <br>
        </form>
    </div>
</body>
</html>